.calc {
	margin: 15px auto;
	.calc_main_form {
		@extend .grid__item;
		@extend .one-whole;
		@extend .desktop--two-fifths;
		padding-left: 70px;
		padding-top: 12px;
		padding-bottom: 35px;
		background-color: $light-blue;
		@include box-sizing(border);
		h1 {
			margin: 0 0 8px -54px;
			padding: 0;
			font-size: 35px;
			font-weight: 700;
			color: $white;
		}
		h2 {
			margin-top: 25px;
			margin-bottom: 10px;
			font-size: 25px;
			@include min-screen($desktop) {
				margin-bottom: 60px;
			}
			strong {
				font-size: 25px;
			}
		}
		small {
			display: block;
			font-size: 16px;
			color: $white;
		}

		input[type=checkbox],
		input[type=radio] {
			display: inline-block;
		}
		label {
			display: inline-block;
		}
	}
	.calc_add_info {
		@extend .grid__item;
		@extend .one-whole;
		@extend .desktop--three-fifths;
		padding-left: 0;
		padding-top: 30px;
		background-color: $footer-gray;
	}
	.form_sum {
		background-color: #232323;
		padding-top: 15px;
		padding-bottom: 15px;
		.summary {
			margin-top: 15px;
			margin-bottom: 15px;
			text-align: right;
			@include min-screen($desktop) {
				position: relative;
				right: -140px;
			}
			p {
				margin: 0;
				padding: 0;
				color: $white;
				line-height: 1;
			}
			strong {
				margin-left: 10px;
				color: $light-blue;
				font-size: 30px;
				font-weight: 700;
			}
		}
	}
	.ico_calc {
		display: inline-block;
		width: 44px;
		height: 44px;
		background: url(../img/icons/ico-calc.png) 0 0 no-repeat;
		position: relative;
		top: 12px;
	}
}
