.footer {
	.footer_addresses {
		background-color: $footer-gray;
		padding: 20px 0;
		.footer_block {
			@extend .grid__item;
			@extend .grid--center;
			@extend .tablet--one-half;
			@extend .desktop--one-fifth;
		}
		.footer_menu {
			list-style: none;
			@include min-screen($desktop) {
				list-style-type: disc;
			}
			padding: 0 0 0 18px;
			color: $gray;
			li {
				text-align: center;
				@include min-screen($desktop) {
					text-align: left;
				}
				margin: 2px 0;
				a {
					display: block;
					padding: 2px 0;
					color: $gray;
					font-size: 13px;
					text-decoration: none;
					&:hover,
					&:focus {
						color: $white;
					}
				}
			}
		}
		p {
			display: inline-block;
			margin: 0 0 10px;
			font-size: 15px;
			color: $gray;
			text-align: center;
			@include min-screen($desktop) {
				display: block;
				text-align: left;
			}
			&.tel {
				background: url(../img/icons/ico-phone.png) left center no-repeat;
				padding-left: 16px;
			}
			&.time {
				background: url(../img/icons/ico-time.png) left center no-repeat;
				padding-left: 23px;
			}
		}
		.mb {
			margin-bottom: 32px;
		}

		.socials {
			margin-top: 25px;
			text-align: center;
			@include min-screen($desktop) {
				text-align: left;
			}
		}
		.fb {
			display: inline-block;
			margin-right: 10px;
			width: 33px;
			height: 33px;
			background: url(../img/icons/ico-fb.png) 0 0 no-repeat;
			@include opacity(80);
			@include hide-text();
			&:hover {
				@include opacity(100);
			}
		}
		.google-plus {
			display: inline-block;
			margin-right: 10px;
			width: 33px;
			height: 33px;
			background: url(../img/icons/ico-g+.png) 0 0 no-repeat;
			@include opacity(80);
			@include hide-text();
			&:hover {
				@include opacity(100);
			}
		}
	}

	.footer_copyright {
		background-color: $dark;
		padding: 30px 0;
		p {
			margin: 0;
			padding: 0;
			text-align: right;
			font-size: 13px;
			color: #636262;
			span {
				color: #0a6f7b;
			}
		}
	}
}
