.homepage_slider {
	@extend .grid--full;
	background-color: $light-blue;
	@include min-screen($desktop) {
		background: $light-blue url(../img/slider-bg.jpg) right 0 no-repeat;
		background-size: 56% auto;
		min-height: 386px;
	}
	.homepage_search {
		padding: 30px 50px;
		@include min-screen($desktop) {
			padding: 30px 0;
		}
		@extend .grid__item;
		@extend .one-whole;
		@extend .desktop--two-fifths;
	}
	.slides {
		@extend .grid__item;
		@extend .one-whole;
		@extend .desktop--three-fifths;
		padding: 30px 50px;
		@include min-screen($desktop) {
			padding: 30px 0;
		}
		background: url(../img/slider-bg.jpg) 0 0 no-repeat;
		background-size: cover;
		@include min-screen($desktop) {
			background: none;
		}

		h2 {
			margin: 0;
			padding: 0;
			text-align: right;
			color: $light-blue;
			font-size: 43px;
			font-weight: 400;
			.ico {
				display: inline-block;
				width: 48px;
				height: 48px;
				background: url(../img/icons/ico-home.png) 0 0 no-repeat;
				position: relative;
				top: 10px;
			}
			strong {
				text-transform: uppercase;
			}
		}
	}

	.carousel {
		margin-top: 15px;
		@include min-screen($desktop) {
			margin-left: -100px;
		}

		h3 {
			font-size: 25px;
			color: $white;
			margin-bottom: 20px;
		}
		ul {
			list-style-type: disc;
			padding: 0 0 0 20px;
			li {
				margin-bottom: 12px;
				font-size: 16px;
				color: $white;
			}
		}
	}
	.slider-nav {
		margin-top: 20px;
		@include min-screen($desktop) {
			margin-top: 0;
			margin-left: 250px;
		}
	}
	.pager {
		display: inline-block;

		span {
			display: inline-block;
			margin: 0 4px;
			width: 10px;
			height: 10px;
			background-image: url(../img/icons/ico-bullets.png);
			background-position: 0 0;
			background-repeat: no-repeat;
			@include hide-text();
			vertical-align: top;
			&.cycle-pager-active {
				background-position: 0 bottom;
			}
		}
	}
	.next,
	.prev {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
	}
	.next {
		background-image: url(../img/icons/ico-arrow-right.png);
	}
	.prev {
		background-image: url(../img/icons/ico-arrow-left.png);
	}
}
